---
---

@charset "utf-8";

/* =Colors */
$dorian: #0D0D0D;
$iron: #f64f4f;
$cloudy: #828282;

/* https://github.com/AppliedLogicSystems/ALSProlog/commit/e49a98b7fb5e7039fe135eb94e9d9572de94ec82 */
/* ".site-title" is the class in header.html ; this config at the moment overlaps the logo ontop of the site title */
.site-title::before {
	content: url("/assets/images/site_header02.png");
	display: inline-block;
	position: relative;
	width: 37px;
	top: 5px;
}

@import
    "mixins",
    "default",
    "404"
;
